.feedbackList {
   padding: 50px 0;
}

.feedbackItem:not(:last-child) {
   margin-bottom: 10px;
}

.feedbackItem {
   font-size: 24px;
}
.feedbackItemTotal {
   composes: feedbackItem;
   font-weight: 600;
}